@model OrderSystem.WebApp.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cart</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.FName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prod.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
